<div id="hat-rate">
<div class="explanation" ng-repeat="e in hatbot.explanationsOnDisplay">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="explanation-body">
                {{e.text}}
            </div>
        <hatbot-rate-radio score="e.score"></hatbot-rate-radio>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group more-group" role="group" ng-show="hatbot.explanationsInMind.length != 0">
            <button type="button" class="btn btn-default" ng-click="hatbot.displayOneMore()">Ещё объяснения этого слова</button>
            <button type="button" class="btn btn-default" ng-click="hatbot.displayAll()">Все объяснения</button>
        </div>

        <button type="button" class="send btn btn-default btn-block" ng-hide="hatbot.wordIsHidden">Отправить оценки слова «{{hatbot.word}}» и играть снова</button>
        <button type="button" class="show-word btn btn-default btn-block" ng-click="hatbot.showWord()" ng-show="hatbot.wordIsHidden">Показать слово</button>

    </div>
</div>
</div>