<!DOCTYPE html>
<html ng-app="hatbot" ng-controller="hatbotCtrl as hatbotCtrl">
  <head>
    <title>Шляпобот</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="hatbot.js"></script>
    <script type="text/javascript" src="hatbot-menu.js"></script>
  </head>
  <body>

    <hatbot-menu>

      <div class="panel panel-default">
        <div class="panel-heading">Ручной запускатр Шляпобота</div>
        <div class="panel-body">
          <form id="hat-launch">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" value="random" name="word-src">
              </span>
              <div class="label-text">случайное слово</div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" value="own" name="word-src">
              </span>
              <input type="text" class="form-control" placeholder="своё слово">
            </div>
            <button class="btn btn-default">Играть</button>
            <button class="btn btn-default">Оценивать объяснения</button>
            <button class="btn btn-default">Улучшать объяснения</button>
          </form>
        </div>
      </div>

      <word-info source="hatbotCtrl.wordSource">
        <a ng-hide="hatbotCtrl.wordIsHidden" ng-click="hatbotCtrl.hideWord()" title="щёлкни, чтобы скрыть">
          {{hatbotCtrl.word}}
        </a>
        <a ng-show="hatbotCtrl.wordIsHidden" ng-click="hatbotCtrl.showWord()" title="щёлкни, чтобы посмотреть">
          слово скрыто
        </a>
      </word-info>

    </hatbot-menu>


  </body>
</html>
