.page-header {
  top: 0px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

#hat-index {
  text-align: center;
}

#hat-rate {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.explanation-body {
  float: left;
  width: 65%;
  max-height: 140px;
  min-height: 70px;
  overflow: scroll;
}

.radio-button {
  float: left;
  padding-left: 10px;
  text-align: center;
}

.rate-text {
  float: right;
  max-width: 15%;
  min-width: 100px;
  padding-left: 10px;
}

.rate-radio {
  float: right;
}